[submodule "ext/Lidarr"]
	path = ext/Lidarr
	url = https://github.com/Lidarr/Lidarr
	branch = develop
[submodule "ext/DeezNET"]
	path = ext/DeezNET
	url = https://github.com/jasonpatrickellykrause/DeezNET
	branch = main
